.skillsBlock {
    min-height: 60vw;
    background-color: bisque;
}

.skillsContainer {
    /*align-items: flex-start;*/
    flex-direction: column;
    justify-content: start;
}

.skills {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.title {
    background-color: darkcyan;
}